name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Tests on ${{ matrix.device }} ${{ matrix.os }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: iOS Simulator
            device: iPhone 16 Pro
            os: "18.6"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Set Project Scheme
        run: echo "scheme=$(basename ${{ github.repository }})" >> $GITHUB_ENV

      - name: Run Tests with Code Coverage
        run: |
          set -o pipefail && \
          xcodebuild \
            -scheme "${{ env.scheme }}" \
            -destination "platform=${{ matrix.platform }},name=${{ matrix.device }},OS=${{ matrix.os }}" \
            -enableCodeCoverage YES \
            -derivedDataPath ./DerivedData \
            -resultBundlePath ./TestResults.xcresult \
            test

      - name: Install xcresultparser
        run: brew install xcresultparser

      - name: Generate Coverage Report
        run: |
          mkdir -p ./coverage
          xcresultparser \
            --output-format cobertura \
            ./TestResults.xcresult > ./coverage/cobertura.xml

      - name: Convert Test Results to JUnit
        run: |
          xcresultparser \
            --output-format junit \
            ./TestResults.xcresult > ./test-results.xml

      - name: Upload Code Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}
          files: ./coverage/cobertura.xml

      - name: Upload Test Results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results
          slug: ${{ github.repository }}
          files: ./test-results.xml
